Repository ut-code/Raxcel: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, format-go, go-mod-tidy

format-frontend:
  run: bunx prettier --write {staged_files} && git add {staged_files}

format-go:
  run: gofmt -w {staged_files} && git add {staged_files}

go-mod-tidy:
  run: go mod tidy && git add {staged_files}

alertをModalに置き換え
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/components/Dialog.svelte
  desktop/frontend/src/lib/components/Toolbar.svelte
Due: none

pass tests
  desktop/frontend/src/lib/formula.ts
  desktop/frontend/tests/formula.test.ts
Due: none

セルの評価に使うロジックのテストを追加
  desktop/frontend/src/lib/formula.ts
  desktop/frontend/tests/formula.test.ts
Due: none

use vitest
  desktop/frontend/bun.lock
  desktop/frontend/package.json
  desktop/frontend/tests/formula.test.ts
  desktop/frontend/vite.config.ts
Due: none

delete unnecessary effect
  desktop/frontend/src/lib/components/Cell.svelte
Due: none

start editing with typing
  desktop/frontend/src/lib/components/Cell.svelte
Due: none

delete tauri
  desktop/frontend/package.json
Due: none

delete unnecessary bindable
  desktop/frontend/src/lib/components/Cell.svelte
Due: none

セルのUIを微修正 (#44)
  desktop/frontend/bun.lock
  desktop/frontend/package.json
  desktop/frontend/src/lib/components/Cell.svelte
  desktop/frontend/tests/formula.test.ts
  desktop/frontend/vite.config.ts
Due: none

format vite config
  desktop/frontend/vite.config.ts
Due: none

setup testing library
  desktop/frontend/bun.lock
  desktop/frontend/package.json
  desktop/frontend/tsconfig.json
  desktop/frontend/vite.config.ts
  desktop/frontend/vitest-setup.ts
Due: none

test cell component and pass except dblclick
  desktop/frontend/package.json
  desktop/frontend/tests/cell.test.ts
Due: none

add padding to graph
  desktop/frontend/src/lib/chart.ts
Due: none

close when clicked outside
  desktop/frontend/src/lib/components/Chart.svelte
Due: none

feat: add function to export data as .xlsx
  desktop/frontend/src/lib/components/Toolbar.svelte
  desktop/frontend/src/lib/components/XlsxExporter.svelte
Due: none

bun format
  desktop/frontend/src/lib/components/Cell.svelte
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/components/Dialog.svelte
  desktop/frontend/src/lib/components/Sheet.svelte
  desktop/frontend/src/lib/components/Toolbar.svelte
  desktop/frontend/src/lib/components/XlsxExporter.svelte
  desktop/frontend/src/lib/components/Xlsxloader.svelte
  desktop/frontend/src/lib/formula.ts
  desktop/frontend/src/lib/sheet.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.d.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.js
  desktop/frontend/src/lib/wailsjs/go/models.ts
  desktop/frontend/src/lib/wailsjs/runtime/package.json
  desktop/frontend/src/lib/wailsjs/runtime/runtime.d.ts
  desktop/frontend/src/lib/wailsjs/runtime/runtime.js
  desktop/frontend/src/routes/+page.svelte
  desktop/frontend/tests/formula.test.ts
  desktop/frontend/vite.config.ts
Due: format-frontend

download image
  desktop/frontend/src/lib/components/Chart.svelte
Due: none

set background color white
  desktop/frontend/src/lib/chart.ts
Due: none

chore: divide big files
  desktop/app.go
  desktop/auth.go
  desktop/chat.go
Due: format-go

restructure api
  server/api/index.go
  server/main.go
  server/routes/auth.go
  server/routes/messages.go
  server/routes/users.go
Due: format-go

correct request functions and use the same name as server
  desktop/auth.go
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/wailsjs/go/main/App.d.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.js
  desktop/frontend/src/lib/wailsjs/go/models.ts
  desktop/frontend/src/lib/wailsjs/runtime/package.json
  desktop/frontend/src/lib/wailsjs/runtime/runtime.d.ts
  desktop/frontend/src/lib/wailsjs/runtime/runtime.js
  desktop/frontend/src/routes/+page.svelte
  desktop/frontend/src/routes/signin/+page.svelte
  desktop/frontend/src/routes/signup/+page.svelte
  desktop/messages.go
  server/api/index.go
  server/routes/users.go
Due: format-frontend, format-go

correct auth path
  desktop/auth.go
  desktop/frontend/src/lib/wailsjs/runtime/package.json
  desktop/frontend/src/lib/wailsjs/runtime/runtime.d.ts
  desktop/frontend/src/lib/wailsjs/runtime/runtime.js
  server/routes/auth.go
Due: format-frontend, format-go

make error handling between sveltekit and wails similar to go
  desktop/auth.go
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/components/Toolbar.svelte
  desktop/frontend/src/lib/wailsjs/go/main/App.d.ts
  desktop/frontend/src/lib/wailsjs/go/models.ts
  desktop/frontend/src/routes/+page.svelte
  desktop/frontend/src/routes/signin/+page.svelte
  desktop/frontend/src/routes/signup/+page.svelte
  desktop/messages.go
Due: format-go

format
  desktop/frontend/src/lib/chart.ts
  desktop/frontend/src/lib/components/Chart.svelte
Due: none

define request and response type
  server/middlewares/auth.go
  server/routes/auth.go
  server/routes/messages.go
  server/routes/users.go
  server/types/index.go
Due: format-go

share type between desktop and server
  desktop/auth.go
  desktop/go.mod
  desktop/go.sum
  desktop/messages.go
  server/middlewares/auth.go
  server/types/index.go
Due: format-go

migrate db to store chat history
  server/migrations/002_create_tables.sql
Due: none

Path conditions:
  format-frontend: any of: *.{js, ts, svelte, json}
  format-go: any of: *.go
  go-mod-tidy: any of: go.{mod,sum}
