Repository ut-code/Raxcel: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, format-go, go-mod-tidy

lefthook.yml:

pre-commit:
  commands:
    format-frontend:
      glob: "*.{js, ts, svelte, json}"
      run: bunx prettier --write {staged_files} && git add {staged_files}
    format-go:
      glob: "*.go"
      run: gofmt -w {staged_files} && git add {staged_files}
    go-mod-tidy:
      glob: "go.{mod,sum}"
      run: go mod tidy && git add {staged_files}

add wails codegen to prettier ignore
  .prettierignore
  desktop/frontend/src/lib/wailsjs/go/main/App.js
  desktop/frontend/src/lib/wailsjs/runtime/package.json
  desktop/frontend/src/lib/wailsjs/runtime/runtime.d.ts
  desktop/frontend/src/lib/wailsjs/runtime/runtime.js
Due: format-frontend

flake: devshell: add bun
  flake.nix
Due: none

connect to db by url
  desktop/frontend/src/lib/wailsjs/runtime/package.json
  desktop/frontend/src/lib/wailsjs/runtime/runtime.d.ts
  desktop/frontend/src/lib/wailsjs/runtime/runtime.js
  server/.env.sample
  server/db/connection.go
Due: format-frontend, format-go

add migration file
  server/migrations/001_initial_schema.sql
Due: none

fix: get API URL correctly
  desktop/app.go
Due: format-go

specify working directory
  .github/workflows/release.yml
Due: none

rename api url because it is not exported
  desktop/app.go
Due: format-go

follow go naming conventions
  desktop/app.go
Due: format-go

fix: use the correct function name
  desktop/app.go
Due: format-go

set working dir from the beginning
  .github/workflows/release.yml
Due: none

use bun in CI
  .github/workflows/release.yml
Due: none

fix url in binary
  .github/workflows/release.yml
Due: none

fix url in binary again
  .github/workflows/release.yml
Due: none

delete unused function
  desktop/frontend/src/routes/+page.svelte
Due: none

scan only selected cells when unselecting cells
  desktop/frontend/src/routes/+page.svelte
Due: none

delete unused file
  desktop/frontend/src/lib/components/Builtinfunction.svelte
Due: none

use +page.svelte as container
  desktop/frontend/src/lib/components/Chart.svelte
  desktop/frontend/src/lib/components/Sheet.svelte
  desktop/frontend/src/routes/+page.svelte
Due: none

add dev command
  bun.lock
  desktop/app.go
  desktop/frontend/src/routes/+page.svelte
  package.json
Due: format-go

fix: dev command
  bun.lock
  package.json
Due: none

fix endpoint
  server/api/index.go
  server/main.go
Due: format-go

use 99designs/keyring
  desktop/app.go
  desktop/go.mod
  desktop/go.sum
Due: format-go

spedify dir for raxcel
  desktop/app.go
Due: format-go

color error message
  desktop/app.go
Due: format-go

more logs
  desktop/app.go
Due: format-go

small fix
  desktop/frontend/src/lib/formula.ts
Due: none

add corr,cov
  desktop/frontend/src/lib/components/Cell.svelte
  desktop/frontend/src/lib/components/Sheet.svelte
  desktop/frontend/src/lib/formula.ts
  desktop/frontend/src/lib/wailsjs/runtime/runtime.js
Due: format-frontend

refactor: remove debug logs and comments from Cell, Sheet, and formula
  desktop/frontend/src/lib/components/Cell.svelte
  desktop/frontend/src/lib/components/Sheet.svelte
  desktop/frontend/src/lib/formula.ts
Due: none

use original keyring packages
  desktop/app.go
  desktop/go.mod
  desktop/go.sum
Due: format-go

define message model and delete unused fields
  server/db/models.go
Due: format-go

save and get messages
  server/api/index.go
  server/routes/chat.go
Due: format-go

show saved messages
  desktop/app.go
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/wailsjs/go/main/App.d.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.js
  desktop/frontend/src/lib/wailsjs/go/models.ts
  desktop/frontend/src/lib/wailsjs/runtime/runtime.js
  server/routes/chat.go
Due: format-frontend, format-go

improve toolbar, chat and xlsx loader ui
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/components/Toolbar.svelte
  desktop/frontend/src/lib/components/Xlsxloader.svelte
  desktop/frontend/src/routes/+page.svelte
Due: none

signout
  desktop/app.go
  desktop/frontend/src/lib/components/Toolbar.svelte
  desktop/frontend/src/lib/wailsjs/go/main/App.d.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.js
  desktop/frontend/src/lib/wailsjs/go/models.ts
  desktop/frontend/src/routes/+page.svelte
Due: format-frontend, format-go

not show ai chat when signed out
  desktop/frontend/src/lib/components/Toolbar.svelte
Due: none

include previous messages
  server/routes/chat.go
Due: format-go

include previous messages (#40)
  server/routes/chat.go
Due: format-go

include sheet value
  desktop/app.go
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/sheet.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.d.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.js
  desktop/frontend/src/routes/+page.svelte
  server/routes/chat.go
Due: format-frontend, format-go

include sheet value (#41)
  desktop/app.go
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/sheet.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.d.ts
  desktop/frontend/src/lib/wailsjs/go/main/App.js
  desktop/frontend/src/routes/+page.svelte
  server/routes/chat.go
Due: format-frontend, format-go

alert-to-dialog
  desktop/frontend/src/lib/components/Chat.svelte
  desktop/frontend/src/lib/components/Dialog.svelte
  desktop/frontend/src/lib/components/Toolbar.svelte
Due: none
